name: Laravel

on:
  push:
    branches: [ "testing" ]
  pull_request:
    branches: [ "testing" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.0'
    - uses: actions/checkout@v3
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: LDAP TLS
      run: sudo sh -c "echo 'TLS_REQCERT never' > /etc/ldap/ldap.conf"
    - name: Test LDAP Conecction 
      run: php artisan ldap:test
    - name: TLS FILE CONTENT
      run: cat /etc/ldap/ldap.conf
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Login Test
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test --filter=LoginTest
    - name: BedeliasControllerTest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test --filter=BedeliasControllerTest
    - name: AlumnosControllerTest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test --filter=AlumnoControllerTest
    - name: ProfesorControllerTest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test --filter=ProfesorControllerTest
    - name: UsuarioControllerTest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test --filter=UsuariosControllerTest
   
    - name: GrupoControllerTest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test --filter=GrupoControllerTest
    - name: MateriaControllerTest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test --filter=MateriaControllerTest
    - name: CarreraControllerTest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test --filter=CarreraControllerTest
    - name: GradoControllerTest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test --filter=GradoControllerTest
    - name: MaterialPublicoControllerTest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test --filter=MaterialPublicoControllerTest

